music/.config/mpd/log.log
music/.config/mpd/mpd.pid
music/.config/mpd/mpd_state
music/.config/mpd/sticker.sql
**/.env
calendars/.config/vdirsyncer/tokens
calendars/.config/vdirsyncer/status/*
**/**.log
**/build/**
**/cache/**
**/__pycache__/
**/*.pyc
**/.cache/**
**/.venv/**
mail/.config/mutt/signature
