mpd/.config/mpd/log.log
mpd/.config/mpd/mpd.pid
mpd/.config/mpd/mpd_state
mpd/.config/mpd/sticker.sql
**/.env
calendars/.config/vdirsyncer/tokens
calendars/.config/vdirsyncer/status/*
**/**.log
**/build/**
**/cache/**
**/__pycache__/
**/*.pyc
