window {
  button:hover {
    color: $accent;
  }

  .eww-bar {
    // background-color: $darker-background;
    background-color: rgba(26, 32, 38, 0.67);
    opacity: 1;

    font-family: "Roboto";
    font-weight: normal;
  }

  .separator {
    color: #1c2325;
    font-size: 1.2em;
  }
}
