* {
  all: unset;
  font-family: "FantasqueSansMono Nerd Font";
}

window {
  color: $foreground-primary;
  font-family: "FantasqueSansMono Nerd Font";
}
tooltip {
  background-color: $background-tertiary;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 14px;
}
