* {
    xbg:    #1a1b26;
    xfg:    #c0caf5;
    x0:     #15161E;
    x1:     #f7768e;
    x2:     #9ece6a;
    x3:     #e0af68;
    x4:     #7aa2f7;
    x5:     #bb9af7;
    x6:     #7dcfff;
    x7:     #a9b1d6;
    x8:     #414868;
    x9:     #f7768e;
    x10:    #9ece6a;
    x11:    #e0af68;
    x12:    #7aa2f7;
    x13:    #bb9af7;
    x14:    #7dcfff;
    x15:    #c0caf5;
}
