[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
playwright = "*"
spotipy = "*"
sortedcontainers = "*"
watchdog = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pynvim = "*"

[requires]
python_version = "3.10"
