[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
python-ghost-cursor = "*"
scipy = "*"
playwright = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pynvim = "*"

[requires]
python_version = "3.10"
