$darker-background: #0b0f10;
$background-primary: #1a1b26;
$background-secondary: #131718;
$background-tertiary: #7e85a7;

$foreground-primary: #c0caf5;
$foreground-secondary: #c0caf5;
$foreground-tertiary: #c0caf5;

$red: #f7768e;
$blue: #7aa2f7;
$blue-desaturated: #6791c9;
$magenta: #bb9af7;
$green: #9ece6a;
$yellow: #e0af68;

$javacafeMagenta: #d7c1ed;
$javacafeBlue: #bac8ef;
$javacafeCyan: #c7e5d6;
// amarena color scheme colors
$foreground-alt: #c0caf5;
$module-fg: #1f1f1f;
$background: #1a1b26;
$foreground: #c0caf5;
$cursorColor: #c0caf5;
$color0: #15161E;
$color1: #f7768e;
$color2: #9ece6a;
$color3: #e0af68;
$color4: #7aa2f7;
$color5: #bb9af7;
$color6: #7dcfff;
$color7: #a9b1d6;

// bright
$color8: #414868;
$color9: #f7768e;
$color10: #9ece6a;
$color11: #e0af68;
$color12: #7aa2f7;
$color13: #bb9af7;
$color14: #7dcfff;
$color15: #c0caf5;

$color16: #ff9e64;
$color17: #db4b4b;

$primary: $color1;
$secondary: $color4;
$alternate: $color2;
$accent: $color1;
$accent2: $color2;
