$darker-background: #0b0f10;
$background-primary: #101415;
$background-secondary: #131718;
$background-tertiary: #151a1c;

$foreground-primary: #c5c8c9;
$foreground-secondary: #9fa0a0;
$foreground-tertiary: #6e7071;

$red: #ee6a70;
$blue: #7ba5dd;
$blue-desaturated: #6791c9;
$magenta: #cb92f2;
$green: #96d6b0;
$yellow: #ffb29b;
$javacafeMagenta: #d7c1ed;
$javacafeBlue: #bac8ef;
$javacafeCyan: #c7e5d6;
// amarena color scheme colors
$foreground-alt: #8f8f8f;
$module-fg: #1f1f1f;
$background: #1a2026;
$foreground: #ffffff;
$cursorColor: #ffffff;
$color0: #242d35;
$color1: #fb6396;
$color2: #94cf95;
$color3: #f692b2;
$color4: #6ec1d6;
$color5: #cd84c8;
$color6: #7fe4d2;
$color7: #ffffff;
$color8: #526170;
$color9: #f92d72;
$color10: #6ccb6e;
$color11: #f26190;
$color12: #4cb9d6;
$color13: #c269bc;
$color14: #58d6bf;
$color15: #f4f5f2;
$primary: $color1;
$secondary: $color4;
$alternate: $color2;
$accent: $color1;
$accent2: $color2;
