.action-center {
  font-family: "Material Icons";
  font-size: 1.5em;

  border-radius: 6px;
  background-color: #1c2325;

  margin: 0.5em 1em 0.5em 0em;

  button {
    padding: 0.05em 0.5em 0em;
  }
}
