.battery {
  .bat-progress {
    margin: 0.5em 0em 0.7em;
    background-color: #50906a;
    background-color: $green;
  }
  label {
    font-family: "FantasqueSansMono Nerd Font";
  }
  // assuming Unknown status is charging.
  .Charging,
  .Discharging,
  .Unknown,
  .Full {
    font-weight: 900;
    font-size: 1.3em;
    border-radius: 300em;
    padding: 0.5em 1em;
    margin: 0.5em 0.5em;
  }
  .Charging,
  .Unknown {
    background-color: $color4;
  }
  .Discharging {
    background-color: $color5;
  }
  .Full {
    background-color: $color10;
    color: $color0;
  }
}
