.launcher {
  margin: 0.2em 1em 0 0;
  border-radius: 30em;
  button {
    border-radius: inherit;
    margin: 0.1em;
    margin-right: 0.5em;
    padding: 0 1em;
    color: #000;
    font-size: 1.5em;
    background-color: $color1;
    &:hover {
      background-color: $color2;
      color: #000;
    }
  }
  label {
    font-family: "Material\-Design\-Iconic\-Font";
  }
}
