.cpu_temp_icon,
.cpu_temp_value {
  font-family: "Material\-Design\-Iconic\-Font";
  font-size: 1.5rem;
  margin-top: 0.25em;
}
.cpu_temp_value {
  font-family: "FantasqueSansMono Nerd Font Mono";
  margin-right: 2em;
  margin-left: 0em;
  i
}
