.ws {
  font-size: 1.3em;
  font-family: "FantasqueSansMono Nerd Font";
  // margin-top: 0.55em;
  button:not(:last-child) {
    // background-color: #f5f5f5;
    margin-right: 0.5em;
  }
  label {
    padding: 0.5em;
    margin: 0;
  }
}
.visible > label {
  border-bottom: 1px solid $color8;
}
.visible,
.visible:hover {
  color: $color2;
}
.focused,
.focused:hover {
  background-color: $color8;
}
.focused > label {
  border-bottom: 1px solid $color1;
}
.sep {
  color: $color4;
  font-weight: 800;
  font-size: 1.3em;
  margin-right: 0.75em;
  margin-left: 0.25em;
}
